.faq-question-answer {
  position: relative;
  z-index: 2;
  padding: 1.1875rem 0;
  padding-left: 0;
  cursor: pointer;
  border-bottom: 1px solid #e9ecef;
  background: white;
}

.faq-question-answer a {
  color: #6c757d;
}

@media screen and (min-width: 992px) {
  .faq-question-answer a {
    font-size: calc(1.265rem + 0.18vw);
  }
}

@media screen and (min-width: 992px) and (min-width: 1200px) {
  .faq-question-answer a {
    font-size: 1.4rem;
  }
}

.faq-question-answer a:hover,
.faq-question-answer a:focus,
.faq-question-answer a:active {
  color: #3d4246;
}

.faq-question-answer span.faq-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%236c757d' d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-question-answer .faq-qa-visible span.faq-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233d4246' d='M1.5 0l-1.5 1.5 4 4 4-4-1.5-1.5-2.5 2.5-2.5-2.5z' transform='translate(0 1)'/%3e%3c/svg%3e");
}

.faq-question-answer .faq-question {
  padding-left: 0;
}

.faq-answer {
  padding-bottom: 15px;
}

.faq-answer a {
  color: #007bff;
}

#faq-expand-all a {
  color: #6c757d;
}

@media screen and (min-width: 992px) {
  #faq-expand-all a {
    font-size: 1rem;
  }
}

#faq-expand-all a:hover,
#faq-expand-all a:focus,
#faq-expand-all a:active {
  color: #3d4246;
}

#block-faq-categories,
.block-faq-categories {
  margin: 1.25rem auto;
  text-align: center;
}

#block-faq-categories ul li,
.block-faq-categories ul li {
  display: inline-block;
  padding-right: 0.625rem;
  padding-right: 0.3125rem;
  padding-left: 0.3125rem;
}

#block-faq-categories ul li a,
.block-faq-categories ul li a {
  padding: 0;
  color: #007bff;
  border-bottom: solid 2px transparent;
}

@media screen and (min-width: 992px) {
  #block-faq-categories ul li a,
  .block-faq-categories ul li a {
    font-size: calc(1.275rem + 0.3vw);
  }
}

@media screen and (min-width: 992px) and (min-width: 1200px) {
  #block-faq-categories ul li a,
  .block-faq-categories ul li a {
    font-size: 1.5rem;
  }
}

#block-faq-categories ul li a:hover,
#block-faq-categories ul li a:focus,
#block-faq-categories ul li a:active,
#block-faq-categories ul li a.active,
.block-faq-categories ul li a:hover,
.block-faq-categories ul li a:focus,
.block-faq-categories ul li a:active,
.block-faq-categories ul li a.active {
  text-decoration: none;
  border-bottom: solid 2px #e9ecef;
  background: transparent;
}

[dir="rtl"] .faq-question-answer span.faq-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%236c757d' d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z' transform='translate(1)'/%3e%3c/svg%3e");
}

[dir="rtl"] .faq-question-answer .faq-answer {
  padding-right: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  [dir="rtl"] .faq-question-answer .faq-answer {
    padding-right: 2.5rem;
  }
}

[dir="rtl"] .faq-qa-visible span.faq-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%233d4246' d='M1.5 0l-1.5 1.5 4 4 4-4-1.5-1.5-2.5 2.5-2.5-2.5z' transform='translate(0 1)'/%3e%3c/svg%3e");
}

[dir="rtl"] .faq #faq-expand-all {
  text-align: left;
}
