// Varbase Frequently Asked Questions variables.
// -----------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/functions"; // Bootstrap functions.
@import "../node_modules/bootstrap/scss/mixins";    // Bootstrap mixins.
@import "../node_modules/bootstrap/scss/variables"; // Bootstrap variables.
// -----------------------------------------------------------------------------

// FAQ [expand all]/[collapse all] style.
$faq-expand-all-color: $gray-600 !default;
$faq-expand-all-active-color: darken($faq-expand-all-color, 20%) !default;

// FAQ qustion style.
$faq-question-border-color: $gray-200 !default;
$faq-question-link-color: $gray-600 !default;
$faq-question-link-active-color: darken($faq-question-link-color, 20%) !default;

// Chevron right icon for (dir=LTR) with $faq-question-link-color for the LTR collapsed quistion style.
$chevron-right-icon: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$faq-question-link-color}' d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z' transform='translate(1)'/%3e%3c/svg%3e"), "#", "%23") !default;
// Chevron left icon for (text direction = RTL ) with $faq-question-link-active-color for the collapsed quistion style.
$chevron-left-icon: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$faq-question-link-color}' d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z' transform='translate(1)'/%3e%3c/svg%3e"), "#", "%23") !default;
// Chevron down icon for the expaned quistion style.
$chevron-down-icon: str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#{$faq-question-link-active-color}' d='M1.5 0l-1.5 1.5 4 4 4-4-1.5-1.5-2.5 2.5-2.5-2.5z' transform='translate(0 1)'/%3e%3c/svg%3e"), "#", "%23") !default;
